<a href="https://colab.research.google.com/github/popkdodge/Unit-2-Build/blob/master/Porsche_911.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/popkdodge/Unit-2-Build/master/Carrera_911_1_2.csv',index_col=[0])

In [0]:
df

              condition  milage     Price  ...  Cabriolet  Color  Transmission
0                  Used   47649   48950.0  ...    Edition  Black     Automatic
1                  Used   19020   67988.0  ...    Hardtop  Black     Automatic
3                  Used   56436   51990.0  ...    Hardtop  Black     Automatic
4                  Used   85000   34900.0  ...  Cabriolet  Black     Automatic
5                  Used   15808   96995.0  ...    Hardtop  Black     Automatic
...                 ...     ...       ...  ...        ...    ...           ...
1493               Used   19826   99950.0  ...    Hardtop  White        Manual
1494               Used   15710   89995.0  ...    Hardtop  White        Manual
1495               Used     502   93900.0  ...    Hardtop  White        Manual
1496               Used    5182   81995.0  ...    Hardtop  White        Manual
1501  Porsche Certified   10074  112000.0  ...    Hardtop  White        Manual

[810 rows x 11 columns]

In [0]:
df['Cabriolet'].value_counts()

Hardtop      736
Cabriolet     69
Edition        4
Black          1
Name: Cabriolet, dtype: int64

In [0]:
df.isnull().sum()

condition       0
milage          0
Price           0
Year            0
Brand           0
Model           0
Model_Vers      0
S_RS            0
Cabriolet       0
Color           0
Transmission    0
dtype: int64

In [0]:
df['Cabriolet'] = df['Cabriolet'].replace("Black",'Hardtop')

In [0]:
df['Cabriolet'] = df['Cabriolet'].replace("Edition",'Hardtop')

In [0]:
df['Price'] = df['Price'].astype(int)

In [0]:
df.dtypes

condition       object
milage           int64
Price            int64
Year             int64
Brand           object
Model            int64
Model_Vers      object
S_RS            object
Cabriolet       object
Color           object
Transmission    object
dtype: object

In [0]:
df.condition.value_counts(normalize=True)

Used                 0.84321
Porsche Certified    0.15679
Name: condition, dtype: float64

In [0]:
df['condition'] = df['condition'].replace("Porsche Certified",'CPO')

In [0]:
from sklearn.model_selection import train_test_split
train, test= train_test_split(df, test_size=0.20, random_state=2)

In [0]:
train

     condition  milage   Price  Year  ...  S_RS  Cabriolet        Color Transmission
1494      Used   15710   89995  2016  ...    4S    Hardtop        White       Manual
1176      Used   35750   39300  2008  ...     S  Cabriolet        Black       Manual
692       Used   26324   59000  2010  ...    4S  Cabriolet        Other    Automatic
758       Used  130000   34900  2013  ...  Base    Hardtop  Gray/Silver    Automatic
825       Used    4113  103995  2017  ...  Base    Hardtop        White    Automatic
...        ...     ...     ...   ...  ...   ...        ...          ...          ...
1047       CPO   34541   84995  2018  ...  Base    Hardtop        White    Automatic
1151       CPO   17066   89957  2015  ...   GTS    Hardtop          Red    Automatic
938       Used   40700   66999  2017  ...  Base    Hardtop        White    Automatic
1035      Used   26067   94951  2017  ...     S    Hardtop        White    Automatic
324       Used   23000   76500  2015  ...     S    Hardtop        Black    Automatic

[648 rows x 11 columns]

In [0]:
test

     condition  milage   Price  Year  ...  S_RS  Cabriolet        Color Transmission
830       Used   36843   78777  2015  ...     S    Hardtop        White    Automatic
244       Used   22789  103900  2017  ...    4S    Hardtop        Black    Automatic
226        CPO   13220  106900  2017  ...    4S    Hardtop        Black    Automatic
1020      Used   21136   73995  2013  ...     S    Hardtop        White    Automatic
606       Used   35103   68398  2018  ...  Base    Hardtop        Other    Automatic
...        ...     ...     ...   ...  ...   ...        ...          ...          ...
1098      Used    5517   99495  2019  ...     T    Hardtop          Red    Automatic
1408      Used   17000   35000  2008  ...     S  Cabriolet        Other       Manual
936       Used   26775   67500  2013  ...     S    Hardtop        White    Automatic
1261      Used   22463   56997  2013  ...  Base    Hardtop  Gray/Silver       Manual
532       Used   28822   76900  2014  ...    4S    Hardtop        Other    Automatic

[162 rows x 11 columns]

In [0]:
feature = ['condition','milage','Year','S_RS','Cabriolet','Color','Transmission']
target = 'Price'
X_train = train[feature]
X_test = test[feature]
Y_test = test[target]
Y_train = train[target]

In [0]:
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 2.2MB/s
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.0.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.18.4)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category_encoders) (1.12.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.15.1)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [0]:
import category_encoders as ce
encoder = ce.OneHotEncoder(use_cat_names=True)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
X_test

     condition  milage  Year  S_RS  Cabriolet        Color Transmission
830       Used   36843  2015     S    Hardtop        White    Automatic
244       Used   22789  2017    4S    Hardtop        Black    Automatic
226        CPO   13220  2017    4S    Hardtop        Black    Automatic
1020      Used   21136  2013     S    Hardtop        White    Automatic
606       Used   35103  2018  Base    Hardtop        Other    Automatic
...        ...     ...   ...   ...        ...          ...          ...
1098      Used    5517  2019     T    Hardtop          Red    Automatic
1408      Used   17000  2008     S  Cabriolet        Other       Manual
936       Used   26775  2013     S    Hardtop        White    Automatic
1261      Used   22463  2013  Base    Hardtop  Gray/Silver       Manual
532       Used   28822  2014    4S    Hardtop        Other    Automatic

[162 rows x 7 columns]

In [0]:
X_train

     condition  milage  Year  S_RS  Cabriolet        Color Transmission
1494      Used   15710  2016    4S    Hardtop        White       Manual
1176      Used   35750  2008     S  Cabriolet        Black       Manual
692       Used   26324  2010    4S  Cabriolet        Other    Automatic
758       Used  130000  2013  Base    Hardtop  Gray/Silver    Automatic
825       Used    4113  2017  Base    Hardtop        White    Automatic
...        ...     ...   ...   ...        ...          ...          ...
1047       CPO   34541  2018  Base    Hardtop        White    Automatic
1151       CPO   17066  2015   GTS    Hardtop          Red    Automatic
938       Used   40700  2017  Base    Hardtop        White    Automatic
1035      Used   26067  2017     S    Hardtop        White    Automatic
324       Used   23000  2015     S    Hardtop        Black    Automatic

[648 rows x 7 columns]

In [0]:
X_train = encoder.fit_transform(X_train)

In [0]:
X_test = encoder.fit_transform(X_test)

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

model = LinearRegression()


model.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
y_pred_train = model.predict(X_train)
print("MAE(Train):$",mean_absolute_error(Y_train, y_pred_train))

MAE(Train):$ 5887.143556592604

In [0]:
r2_base = r2_score(Y_train, y_pred_train)
print('R^2 scores (Train):',r2_base)

R^2 scores (Train): 0.8526697531427905

In [0]:
y_pred_val = model.predict(X_test)
print("MAE(Val):$",mean_absolute_error(Y_test, y_pred_val))

MAE(Val):$ 9245.341766847487

In [0]:
r2_base = r2_score(Y_test, y_pred_val)
print('R^2 scores (Train):',r2_base)

R^2 scores (Train): 0.6024955718824838

In [0]:
model.coef_

array([-1.31655432e+03,  1.31655432e+03, -3.33234590e-01,  3.96288098e+03,
        2.70944244e+03, -2.65031358e+03, -1.14525798e+04,  1.85901607e+04,
       -7.61778495e+03, -1.13169386e+04,  2.47773451e+04, -1.30393313e+04,
       -1.01278027e+03,  1.01278027e+03, -5.60972173e+02, -2.61793715e+03,
        5.96289735e+02,  3.28889368e+02,  1.37856716e+03,  8.75163062e+02,
        1.05500997e+03, -1.05500997e+03])

In [0]:
list(X_train)

['condition_Used',
 'condition_CPO',
 'milage',
 'Year',
 'S_RS_4S',
 'S_RS_S',
 'S_RS_Base',
 'S_RS_GTS',
 'S_RS_4',
 'S_RS_T',
 'S_RS_GTS4',
 'S_RS_Black',
 'Cabriolet_Hardtop',
 'Cabriolet_Cabriolet',
 'Color_White',
 'Color_Black',
 'Color_Other',
 'Color_Gray/Silver',
 'Color_Blue',
 'Color_Red',
 'Transmission_Manual',
 'Transmission_Automatic']

In [0]:
condition_Used = 0
condition_CPO = 1
milage = 30000
Year = 2016
S_RS_4S = 0
S_RS_S = 0
S_RS_Base = 1
S_RS_GTS = 0
S_RS_4 = 0
S_RS_T = 0
S_RS_4GTS = 0
S_RS_Black_Ed = 0
Cabriolet_Hardtop = 0
Cabriolet_Cabriolet= 1
Color_White = 0
Color_Black = 1
Color_Other = 0
Color_Gray_Silver = 0
Color_Blue = 0
Color_Red = 0
Transmission_Manual = 0
Transmission_Automatic = 1

In [0]:
price = model.predict([[condition_Used,condition_CPO,milage,Year,S_RS_4S,S_RS_S
                ,S_RS_Base,S_RS_GTS,S_RS_4,S_RS_T,S_RS_4GTS,
                S_RS_Black_Ed,Cabriolet_Hardtop,Cabriolet_Cabriolet,Color_White,
                Color_Black,Color_Other,Color_Gray_Silver,Color_Blue,Color_Red,Transmission_Automatic,
                Transmission_Manual]])

In [0]:
print("Your 911 should be price at :$",price)

Your 911 should be price at :$ [75973.26777012]

In [0]:
dt = df.copy()

In [0]:
dt.drop(['Transmission','Cabriolet'],axis=1)

              condition  milage     Price  Year  ... Model  Model_Vers   S_RS  Color
0                  Used   47649   48950.0  2012  ...   911     Carrera  Black  Black
1                  Used   19020   67988.0  2015  ...   911     Carrera   Base  Black
3                  Used   56436   51990.0  2012  ...   911     Carrera      S  Black
4                  Used   85000   34900.0  2009  ...   911     Carrera      S  Black
5                  Used   15808   96995.0  2018  ...   911     Carrera      S  Black
...                 ...     ...       ...   ...  ...   ...         ...    ...    ...
1493               Used   19826   99950.0  2017  ...   911     Carrera     4S  White
1494               Used   15710   89995.0  2016  ...   911     Carrera     4S  White
1495               Used     502   93900.0  2018  ...   911     Carrera      T  White
1496               Used    5182   81995.0  2016  ...   911     Carrera      S  White
1501  Porsche Certified   10074  112000.0  2018  ...   911     Carrera     4S  White

[810 rows x 9 columns]