# Porsche 911 
---

This is a clean version of original notebook it try to keep everything in a neat a presentation ready format.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/popkdodge/Unit-2-Build/master/Carrera_911_1_2.csv',index_col=[0])

## Quick data engineering
---

In [4]:
df['Cabriolet'] = df['Cabriolet'].replace("Black",'Hardtop')
df['Cabriolet'] = df['Cabriolet'].replace("Edition",'Hardtop')
df['Price'] = df['Price'].astype(int)
df['condition'] = df['condition'].replace("Porsche Certified",'CPO')

## Train Test Split
---

In [6]:
from sklearn.model_selection import train_test_split
train, test= train_test_split(df, test_size=0.20)

In [7]:
train

,condition,milage,Price,Year,Brand,Model,Model_Vers,S_RS,Cabriolet,Color,Transmission
1183,Used,72700,34988,2007,Porsche,911,Carrera,S,Hardtop,Black,Manual
1434,Used,4950,98900,2012,Porsche,911,Carrera,GTS4,Hardtop,Red,Manual
1234,Used,53111,39998,2011,Porsche,911,Carrera,S,Hardtop,Black,Manual
23,Used,46369,48995,2009,Porsche,911,Carrera,S,Hardtop,Black,Automatic
910,Used,37586,69786,2017,Porsche,911,Carrera,Base,Hardtop,White,Automatic
...,...,...,...,...,...,...,...,...,...,...,...
720,Used,64056,53815,2012,Porsche,911,Carrera,4S,Hardtop,Gray/Silver,Automatic
848,CPO,15135,82795,2015,Porsche,911,Carrera,S,Hardtop,White,Automatic
437,Used,48000,52500,2013,Porsche,911,Carrera,Base,Hardtop,Blue,Automatic
404,Used,13111,66664,2015,Porsche,911,Carrera,Base,Hardtop,Blue,Automatic
1351,Used,51025,53998,2015,Porsche,911,Carrera,4,Hardtop,Gray/Silver,Manual

In [8]:
test

,condition,milage,Price,Year,Brand,Model,Model_Vers,S_RS,Cabriolet,Color,Transmission
252,CPO,5980,97898,2018,Porsche,911,Carrera,S,Hardtop,Black,Automatic
210,Used,19828,82988,2017,Porsche,911,Carrera,Base,Hardtop,Black,Automatic
799,Used,30156,72500,2016,Porsche,911,Carrera,S,Hardtop,Gray/Silver,Automatic
1208,Used,18800,69999,2016,Porsche,911,Carrera,4,Hardtop,Black,Manual
1383,Used,11813,84000,2016,Porsche,911,Carrera,4S,Hardtop,Other,Manual
...,...,...,...,...,...,...,...,...,...,...,...
478,Used,3918,115955,2017,Porsche,911,Carrera,S,Hardtop,Blue,Automatic
690,CPO,39154,59800,2014,Porsche,911,Carrera,Base,Hardtop,Other,Automatic
688,Used,47883,49888,2009,Porsche,911,Carrera,4S,Hardtop,Other,Automatic
215,Used,35652,60800,2012,Porsche,911,Carrera,S,Hardtop,Black,Automatic
342,Used,35361,87900,2017,Porsche,911,Carrera,4S,Hardtop,Black,Automatic